<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title|escape }} test</title>
<link rel="stylesheet" href="/frameworks/qunit/qunit.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="/frameworks/qunit/qunit.js"></script>
{% if modules %}
{% for module in modules %}
<script src="/js/modules/qunit/{{ module|escape }}.js"></script>
{% endfor %}
{% endif %}
</head>
<body>
<h1 id="qunit-header">{{ title|escape }} test</h1>
<h2 id="qunit-banner"></h2>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
{% if scripts %}
{% for script in scripts %}
<script src="{{ base|escape }}{{ script|escape }}"></script>
{% endfor %}
{% else %}
<script>
test('script', 1, function() {
	ok(false, 'not found');
});
</script>
{% endif %}
</body>
</html>
